.location {
  position: relative;

  &__btn {
    display: none;

    @media (min-width: $media-tablet-landscape) {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      &:hover,
      &:focus-visible {
        border-radius: 50px;
        background-color: $color-bg_white-smoke;

        .location__icon {
          stroke: none;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__icon {
    fill: none;
    stroke: #a7a7a7;
    transition:
      background-color 0.4s ease-in-out,
      border-radius 0.4s ease-in-out;
  }

  &__value {
    padding-right: 12px;
  }

  &__search-container {
    position: absolute;
    width: 384px;
    height: 300px;
    background-color: #fbfbfb;
    box-shadow: 0 7px 38px rgba(44 62 106 / 25%);
    border-radius: 10px;
    margin-top: 16px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;

    &-open {
      opacity: 1;
      visibility: visible;
    }
  }
}
