.location {
  position: relative;
  display: none;

  @media (min-width: $media-tablet-landscape) {
    display: block;
  }

  &__btn {
    display: none;

    @media (min-width: $media-tablet-landscape) {
      display: inline-flex;
      align-items: center;
      gap: 8px;

      &:hover,
      &:focus-visible {
        border-radius: 50px;
        background-color: $color-bg_white-smoke;

        .location__icon {
          stroke: none;
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__icon {
    fill: none;
    stroke: $color-bg_medium-light-gray;
    transition:
      background-color 0.4s ease-in-out,
      border-radius 0.4s ease-in-out;
  }

  &__value {
    padding-right: 12px;
  }

  &__search-container {
    position: absolute;
    width: 384px;
    background-color: #fbfbfb;
    box-shadow: 0 7px 38px rgba(44 62 106 / 25%);
    border-radius: 10px;
    margin-top: 16px;
    padding-top: 24px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.4s ease-in-out,
      visibility 0.4s ease-in-out;

    @media (min-width: $media-tablet-landscape) {
      &-open {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__selected-cities {
    display: none;
    padding: 12px 16px;
    border-bottom: 1px solid $color_ligth-silver;

    &--active {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
    }
  }

  &__choise-selected {
    display: flex;
    gap: 13px;
    align-items: center;
    border: 1px solid #D8D8D8;
    border-radius: 100px;
    padding: 9px 16px;
  }

  &__close-svg {
    cursor: pointer;
    fill: $color-bg_medium-light-gray;
  }

  &__cities {
    max-height: 200px;
    overflow: scroll;
    margin-top: 16px;
    margin-bottom: 26px;
    text-align: center;
    scrollbar-color: $color_ligth-silver #fbfbfb;
    scrollbar-width: auto;

    &::-webkit-scrollbar {
      position: relative;
      z-index: 2;
      background-color: transparent;
      width: 6px;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      height: 32px;
      background-color: $color_ligth-silver;
      border-radius: 45px;
    }
  }

  &__cities-data {
    @include no-list;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__city {
    width: 100%;
  }

  &__region {
    display: block;
    font-size: 12px;
    line-height: calc(20 / 12);
    color: $color-text_gray;
  }

  &__bth-choise {
    width: 100%;
    padding: 9px 23px 10px;
    text-align: left;

    &:hover,
    &:focus-visible {
      background-color: $color-bg_white-smoke;
    }

    &:focus {
      outline: none;
    }
  }

  &__btn-apply {
    width: 100%;
    color: $color-bg_white;
    border-top: 1px solid #0656B4;
    background-color: #0656B4;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:disabled {
      cursor: not-allowed;
      color: $color-bg_medium-light-gray;
      border-top: 1px solid #d8d8d8;
      background-color: #fbfbfb;
    }
  }
}
