<header class="header">
  <div class="container">
    <div class="header__top">
      <button type="button" class="button header__burger js-header__burger" aria-label="Меню">
        <span class="header__burger-line"></span>
      </button>
      <div class="header__left">
        <a href="/" class="header__logo" aria-label="Студика">
          <svg width="88" height="24" viewBox="0 0 88 24">
            <use xlink:href="/img/svg.svg#logo" />
          </svg>
        </a>
        <div class="location">
          <button type="button" class="button location__btn js-location__btn">
            <svg class="location__icon" width="32" height="32" viewBox="0 0 32 32">
              <use xlink:href="/img/svg.svg#location-icon" />
            </svg>
            <span class="location__value">Любой регион</span>
          </button>
          <div class="location__search-container js-location__search-container">
            <form class="location-search-form" id="locationSearchForm">
              <label for="header_search-location">
                <input type="text" id="header_search-location" class="location-search-form__input" placeholder="Регион, город, населенный пункт">
              </label>
              <svg class="location-search-form__clear-svg js-location-search-form__clear-svg" width="14" height="14" viewBox="0 0 14 14">
                <use xlink:href="/img/svg.svg#close-icon" />
              </svg>
            </form>
            <div class="location__selected-cities" data-celected-container>
              <template data-celected-template>
                <div class="location__choise-selected js-location__choise-selected" data-id>
                  <span data-selected-city></span>
                  <svg class="location__close-svg js-location__close-svg" width="14" height="14" viewBox="0 0 14 14">
                    <use xlink:href="/img/svg.svg#close-icon" />
                  </svg>
                </div>
              </template>
            </div>
            <div class="location__cities">
              <ul class="location__cities-data " data-cities-container>
                <template data-cities-template>
                  <li class="location__city" data-id>
                    <button type="button" class="button location__bth-choise js-location__bth-choise">
                      <span data-name></span>
                      <span class="location__region" data-state></span>
                    </button>
                  </li>
                </template>
              </ul>
              {% include "templates/blocks/preloader.jinja" %}
            </div>
            <button type="button" class="button location__btn-apply js-location__btn-apply">
            Сохранить
          </button>
          </div>
        </div>
      </div>
      <div class="header__search-container">
        <form class="search-form">
          <svg class="search-form__search-icon" width="17" height="17" viewBox="0 0 17 17">
            <use xlink:href="/img/svg.svg#search-icon" />
          </svg>
          <label for="header_search">
            <input type="text" id="header_search" class="search-form__input" placeholder="Учебное заведение, специальность или профессия">
          </label>
        </form>
      </div>
      <div class="header__right">
        <a href="#" class="header__favorites" aria-label="Избранное">
          <svg width="18" height="18" viewBox="0 0 18 18">
            <use xlink:href="/img/svg.svg#favorite" />
          </svg>
          <span class="header__favorites-count">0</span>
        </a>
        <button type="button" class="button header__login-btn" aria-label="Войти">
          <span>Войти</span>
        </button>
      </div>
    </div>
    <nav>
      <ul class="header__list">
        <li><a href="#" class="header__item">Вузы</a></li>
        <li><a href="#" class="header__item">Колледжи</a></li>
        <li><a href="#" class="header__item">Техникумы</a></li>
        <li><a href="#" class="header__item">Училища</a></li>
        <li><a href="#" class="header__item">Специальности</a></li>
        <li><a href="#" class="header__item">Профессии</a></li>
        <li><a href="#" class="header__item">Отзывы</a></li>
        <li><a href="#" class="header__item">Учебным заведениям</a></li>
        <li><a href="#" class="header__item">Тест на профориентацию</a></li>
      </ul>
    </nav>
  </div>
</header>
